<%= render 'shared/errors', object: @checklist, nested_models: [ @question ] %>

<%= form_for @checklist do |f| %>
    <p>
        <%= f.label :title, "title" %><br>
        <%= f.text_field :title, :required => true %>
    </p>

    <p>
        <%= f.label :description, "description" %><br>
        <%= f.text_area :description, :required => true %>
    </p>

    <div>
        <p><strong>Questions:</strong></p>

        <div class="checklists">
            <%= f.fields_for :questions do |question| %>
                <%= render 'question_fields', f: question %>
            <% end %>

            <div class="links">
                <%= link_to_add_association "add question", f, :questions %>
            </div>
        </div>
    </div>

    <%= f.submit "Save" %>
    <%= link_to "Cancel", checklists_path %>
<% end %>